*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box{
    width: 100%;
    background-color: aquamarine;
    padding: 0 2rem;
    
}


.container {
    width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    
  }

  .cells {
    display: flex;
    flex-wrap: wrap;
  }

  .cell {
    width: calc(100% / 10);
    border: 2px solid white;
    aspect-ratio: 1 / 1;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .active_green {
    background-color: palegreen;
  }

  .active_red {
    background-color: red;
  }